*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: white;
    text-align: center;
}
html{
    font-weight: bold;
    font-size: 0.8vw;
    font-family: 'inter';
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
h1{
    color: black; 
}
svg{
    margin: 1%;
    width: 2.4vw;
    height: 2vw;
}
.hero{
    width: 100vw;
    height: 66vh;
    background-image: url(images/angkor_wat_1200.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.head{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}
.contact{
    width: 16.5vw;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: 1%;
}
.contact p:hover{
    text-shadow: 0px 5px 10px white;
}
.account{
    width: 21vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
.account #Login, #Sign{
    color: black;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 2em;
    margin-top: 2%;
    width: 70%;
}
.account #Sign{
    background-color: rgba(00,00,00,0.6);
    color: white;
}
.title{
    width: 71vw;/*1055px*/
    height: 100%;/*250px*/
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title h1{
    color: white;
}
.search{
    width: 70%;/*540px*/
    height: 1.5vh;/*20px*/
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2em;
    margin-top: 1%;
    padding: 1.3%;
    overflow: hidden;
}
#searchbar{
    font-size: 2rem;
    font-weight: bold;
    text-align:start;
    color: black;
    width: 100%;
    height: 200%;
    border: none;
}
#searchbar:focus{
    border: none;
    background-color: rgba(00,00,00,0.2);
    outline: none;
}
label[for='searchbar']{
    margin-top: 2%;
}
#select{
    font-size: 2.5rem;
    padding: 1%;
    margin-left: 3vw;
    text-align: start;
}
.category{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0.5%;
    border-top: 3px solid #845300;
}
.images{
    width:20vw;/*280px*/
    height: 10vw;/*150px*/
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 10px 10px 10px rgba(00,00,00,0.5);
    overflow: hidden;
}
#Mountain, #Temple, #Coast, #Museum{
    h1{
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(80%);
        color: white;
        font-size: 3rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            backdrop-filter: brightness(50%);
            text-shadow: 0px 5px 5px white;
        }
    }
}
#Mountain{
    background-image: url(images/mountain.jpg);
}
#Temple{
    background-image: url(images/koh-ker-pyramid-prang-1.jpg);
}
#Coast{
    background-image: url(images/coast.jpg);
}
#Museum{
    background-image: url(images/cambodia-national-museum-3.jpg);
}
footer {
    background-color: black;
    text-align: center;
    padding: 1.5vh 0;
}
footer > div > nav{
    display: grid;
    grid-template-columns: repeat(3,31.33vw);
    grid-template-rows: 1fr 1fr;
}
.footer-content nav ul {
    list-style: none;
    padding: 0;
}
  
.footer-content nav ul li, .footer-content a, .footer-content p {
    margin: 0 0.8vw;
    text-align: left;
}

.footer-content a{
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
.footer-content > p{
    margin-left: 8vh;
    margin-bottom: 3vh;
}
.footer-content >nav > a{
    display: flex;
    width: 100%;
    height: 55%;
    align-items: flex-start;
}
.dummy-content img{
    width: 5vw;
    visibility: hidden ;
}
ul > .line, .follow > .line{
    height: 2px;
    width: 5vw;
    margin: 2vh 0 2vh 0.7vw;
    background-color: white;
}
.social{
    display: flex;
}
.follow img{
    border-radius: 50%;
    width: 2vw;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}
.follow img:hover{
    filter: grayscale(0);
}
.follow a:active{
    transform: scale(0.95);
}

@media (min-width: 320px) and (max-width:767px){
    html{
        font-size: 1.5vw;
    }
    .hero{
        height: 50vh;
    }
    h1{
        font-size: 4rem;
    }
    #Mountain, #Temple, #Coast, #Museum{
        h1{
            font-size: 4rem; 
        }
    }
    body{
        overflow:auto;
    }
    .images{
        width:45vw;
        height: 25vw;
    }
    .account{
        width: 40vw;
    }
    .contact{
        width: 25vw;
    }
    footer {
        font-size: 3rem;
    }
    footer > div > nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-content > p{
        margin-left: 8vh;
        margin-bottom: 3vh;
    }
    .footer-content >nav > a{
        display: flex;
        width: 100%;
        height: 55%;
        align-items: flex-start;
        padding-bottom: 5vh;
    }
    ul > .line, .follow > .line{
        width: 20vw;
    }
    .social{
        display: flex;
    }
    .follow img{
        border-radius: 50%;
        width: 5vw;
        filter: grayscale(100%);
        transition: 0.3s ease-in-out;
        padding-bottom: 5vh ;
    }
    .follow img:hover{
        filter: grayscale(0);
    }
    .follow a:active{
        transform: scale(0.95);
    }
    .footer-content nav ul li{
        padding: 0.3vh 0;
    }
}