* {
    color: white;
    font-family: 'Inter';
}
html{
    font-size: 1.3vw;
}
h1,p{
    margin: 0;
}
body.mountain{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/Image/Background_mountain_updated.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body.coast{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/Image/background_coast.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
}
.link{
    display: flex;
    align-items: center;
    gap: 22%;
}
.not-focus{
    display: inline-block;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
}
.not-focus:hover{
    opacity: 1;
}
.not-focus:active,.focus:active{
    transform: scale(0.95);
}
.focus{
    background: rgba(255, 255, 255, 0.187);
    box-shadow: inset 0px -5px 1px #FFFFFF;
    border-radius: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding: 3%;
}
.link> a{
    text-decoration: none;
    font-weight: 700;
    box-sizing: content-box;
}
.sign-log{
    display: flex;
    flex-grow: 0.19;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    height: 6vh;
}
form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.login{
    background-color: white;
    order:1;
    border-radius:1000px;
    color: black;
    border-color: transparent;
    padding: 2% 5%;
    width: 80%;
    font-size: 1.4vw;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.signup{
    background-color: rgba(0, 0, 0, 0.595);
    border-radius:1000px;
    color: white;
    border-color: transparent;
    padding: 2% 5%;
    width: 80%;
    font-size: 1.4vw;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.signup:hover,.login:hover{
    filter: brightness(0.8);
    cursor: pointer;
}
.signup:active,.login:active{
    transform: scale(0.95);
    filter: brightness(1.5);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section{
    display: flex;
    padding: 20vh 0;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 7.5%;
}
section > p{
    max-width: 55ch;
}
section > h1{
    font-size: 5rem;
}
picture{
    padding: 5vh 0;
    height: 90vh;
    display: flex;
    overflow-x: auto;
    gap: 5%;
    scrollbar-width: none;
}
picture::-webkit-scrollbar{
    display: none;
}

.featured-pic img{
    width: 18vw;
    height:60vh;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
    transition: width 0.3s ease-in-out;
}
.featured-pic span{
    display: flex;
    justify-content: center; 
    font-weight: bold;
    padding: 1vh;
}
.featured-pic img:hover{
    width: 22vw;
    height:67vh;
    cursor: pointer;
}
.featured-pic img:active{
    transform: scale(0.95);
}
picture > div > a{
    text-decoration: none;
}
footer {
    background-color: black;
    text-align: center;
    padding: 1.5vh 0;
}
footer > div > nav{
    display: grid;
    grid-template-columns: repeat(3,31.33vw);
    grid-template-rows: 1fr 1fr;
}
.footer-content nav ul {
    list-style: none;
    padding: 0;
}
  
.footer-content nav ul li, .footer-content a, .footer-content p {
    margin: 0 0.8vw;
    text-align: left;
}

.footer-content a{
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
.footer-content > p{
    text-align: center;
}
.footer-content >nav > a{
    display: flex;
    width: 100%;
    height: 55%;
    align-items: flex-start;
}
.dummy-content img{
    width: 5vw;
    visibility: hidden ;
}
ul > .line, .follow > .line{
    height: 2px;
    width: 5vw;
    margin: 2vh 0 2vh 0.7vw;
    background-color: white;
}
.social{
    display: flex;
}
.follow img{
    border-radius: 50%;
    width: 2vw;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}
.follow img:hover{
    filter: grayscale(0);
}
.follow a:active{
    transform: scale(0.95);
}


@media (min-width:768px) and (max-width : 1280px){
    picture{
        height: 55vh;
    }
    .login,.signup{
        width: 100%;
        height: 60%;
        align-self: center;
    }
    .featured-pic img{
        height: 36vh;
        width: 25.9vw;
    }
    .featured-pic img:hover{
        width: 29vw;
        height:40vh;
    }
}
@media (min-width:768px) and (max-width : 1280px) and (orientation:landscape){
    picture{
        height: 90vh;
    }
    .login,.signup{
        width: 100%;
        height: 70%;
        align-self: center;
    }
    .featured-pic img{
        height: 60vh;
        width: 25.9vw;
    }
    .featured-pic img:hover{
        height:65vh;
        width: 29vw;
    }
}
@media (min-width: 320px) and (max-width:767px) and (orientation:portrait){
    body.mountain{
        background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(/Image/phone_background.jpg);
    }
    body.coast{
        background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(/Image/phone_background_coast.png);
    }
    body>nav{
        height: 10vh;
    }
    .link{
        gap: 22%;
        overflow: scroll;
        width: 70%;
    }
    .focus{
        padding: 5%;
    }
    .link > a{
        font-size: 3.2rem;
    }
    .sign-log{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
    }
    .login,.signup{
        font-size: 3.2rem;
        width: 100%;
        align-self: center;
    }
    
    main{
        display: flex;
        flex-direction: column;
    }
    section{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 18%;
    padding-bottom: 0;
    }
    section > p{
        font-size: 5rem;
    }
    section > h1{
        font-size: 8rem;
    }
    section > h3{
        font-size: 4rem;
    }
    picture{
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
    .featured-pic > a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .featured-pic img{
        height: 60vh;
        width: 90%;
        transition: 0.3 ease-in-out;
    }
    .featured-pic img:hover{
        height:65vh;
        width: 100%;
    }
    .featured-pic span{
        padding: 3vh;
        font-size: 5rem;
    }
    footer {
        font-size: 3rem;
    }
    footer > div > nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-content >nav > a{
        display: flex;
        width: 100%;
        height: 55%;
        align-items: flex-start;
        padding-bottom: 5vh;
    }
    ul > .line, .follow > .line{
        width: 20vw;
    }
    .social{
        display: flex;
    }
    .follow img{
        border-radius: 50%;
        width: 5vw;
        filter: grayscale(100%);
        transition: 0.3s ease-in-out;
        padding-bottom: 5vh ;
    }
    .follow img:hover{
        filter: grayscale(0);
    }
    .follow a:active{
        transform: scale(0.95);
    }
    .footer-content nav ul li{
        padding: 0.3vh 0;
    }
}