body, ul {
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
.container{
    width: 1920px;
    height: 1080px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    padding-left: 10px;
}
.nav-link {
    list-style: none;
    display: flex;
    justify-content: space-around; 
    background-color: #333; 
    padding: 10px 0; 
}

.nav-link li {
    margin: 0 15px; 
}

.nav-link a {
    text-decoration: none; 
    color: white;
    font-size: 16px;
    transition: color 0.3s; 
}

.nav-link a:hover {
    color: #1071b2; 
}

.content{
    display: grid;
    grid-template-columns: repeat(2,766px);
    grid-template-rows: 1fr;
}
.login-section, .image-section{
    width: 50%;
}
.login-section{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 40px;
    height: 40px;
}
.welcome-text h1{
    font-size: 30px;
}
.welcome-text p{
    font-size: 16px;
}
.button-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
}
.signin-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,100px);
    row-gap: 5px ;
}
.Email, .PW, .Remember-Forget, .Sign-in{
    padding: 20px;
}
#email, #pw, button{
    width: 528px;
    height: 55px;
    border-style: none;
    border-radius: 8px;
    background-color: #cdd8df;
}
button{
    background-color: rgb(90, 195, 236);
    color: white;
    font-weight: bold;
    text-align: center;
}
button:hover{
    background-color: rgb(31, 144, 188);
    cursor: pointer;
}
.Remember-Forget{
    display: flex;
    flex-direction: row;
}
.remember-me{
    margin-right: 265px;
}
.social-media-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    width: 24px;
    height: 24px;
    margin: 20px;
}
.icon:hover{
    cursor: pointer;
}

